<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./static/dashboard.css" </head>

<body>
    <h1>Hora Atual</h1>
  <div id="hora">Carregando...</div>
    <div class="dashboard">
        <aside class="sidebar">
            <h2>Bem vindo Admin</h2>
            <nav>
                <ul>
                    <li><a href="#">Bater Ponto</a></li>
                    <li><a href="#">Justificativas</a></li>
                    <li><a href="#">Cadastrar Usuarios</a></li>
                    <li><a href="#">Cadastrar Horario Usuario</a></li>
                    <li><a href="#">Relatorios</a></li>
                </ul>
            </nav>
        </aside>
    </div>
</body>
<script src="/sistema-ponto/static/dashboard.js"></script>
</html>