* {
    font-family: Helvetica;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #000;
}

#formPonto {
    border: 2px solid red;
    justify-items: center;
    border-radius: 10PX;
    width: 600px;
    height: 600px;
    box-shadow: #242323 0px 0px 20px 7px, #242323 0px 15px 12px;
    background-color: #111;
    margin-top: 80px;
    margin-left: 500px;
}

a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

button {
    width: 250px;
    height: 60px;
    margin-left: 30px;
    border-radius: 10px;
    background-image: linear-gradient(to right, red, rgb(255, 72, 0), rgb(255, 136, 0));
    cursor: pointer;
    border: none;
    color: white;
    font-size: 19px;
}


#relogio {
    border-radius: 10px;
    color: white;
    box-shadow: 2px 2px 12px rgba(204, 2, 2, 0.3);
    padding: 10px 20px;
    font-size: 30px;
    position: fixed;
    margin-top: 19px;
    margin-left: 220px;

}

button:hover {
    border: 2px solid #202020;
}

#relatorio {
    margin-top: 20px;
    background: #111;
    padding: 15px;
    border-radius: 5px;
    font-size: 14px;
    color: #ffffff;
    position: fixed;
}

.registro {
    margin-bottom: 8px;
    margin-top: 8px;
}
.botao2 {
    margin-top: 60px;
}
.botao1 {
    margin-top: 130px;
}

.nav-lateral {
    width: 300px;
    height: 100%;
    background-color: #202020;
    padding: 10px;
    border-right: 5px solid;
    position: fixed;
    border-image: linear-gradient(red, rgb(255, 72, 0), rgb(255, 136, 0)) 1;
}

.a2 {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.botao3 {
    width: 100%;
    height: 60px;
    margin-top: 60px;
    border-radius: 10px;
    background-image: linear-gradient(to right, red, rgb(255, 72, 0), rgb(255, 136, 0));
    cursor: pointer;
    border: none;
    margin-left: 0px;
}

.botao3:hover {
    border: 2px solid #202020;
}

.pagina {
    margin-right: 40px;
}

i {
    font-size: 40px;
    margin-left: 520px;
    position: fixed;
    margin-top: 210px;
}