<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Justificativas - Admin</title>
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
</head>

<body>
  <div class="pagina">
    <nav class="nav-lateral">
      <div>
        <button class="botao1">
          <a href="/sistemaAdministrador/tela-bater-ponto/baterpontoADM.html"
            target="_self">Bater Ponto</a>
        </button>
      </div>
      <div>
        <button class="botao1">
          <a href="/sistemaAdministrador/escolha-admin/escolha.html"
            target="_self">Justificativas</a>
        </button>
      </div>
      <div>
        <button class="botao1">
          <a href="/sistemaAdministrador/cadastrar-funcionario/usuario.html"
            target="_self">Cadastrar Funcionario</a>
        </button>
      </div>
      <div>
        <button class="botao1">
          <a href="/sistemaAdministrador/tela-cadastrarHorario/cadastrarHorario.html"
            target="_self">Cadastrar Horário Funcionario</a>
        </button>
      </div>
    </nav>
    <div class="container">
      <h1>Justificativas dos Funcionários</h1>
      <table>
        <thead>
          <tr>
            <th>Funcionário</th>
            <th>Data</th>
            <th>Motivo</th>
            <th>Status</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>João Silva</td>
            <td>10/06/2025</td>
            <td>Consulta médica</td>
            <td><span class="status pendente">Pendente</span></td>
            <td>
              <button class="btn aceitar">Aceitar</button>
              <button class="btn recusar">Recusar</button>
            </td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>Ronaldo</td>
            <td>8/05/2025</td>
            <td>Sofreu acidente</td>
            <td><span class="status pendente">Pendente</span></td>
            <td>
              <button class="btn aceitar">Aceitar</button>
              <button class="btn recusar">Recusar</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div>
        <a href="/sistemaAdministrador/tela-inicial-admin/inicial-admin.html">
          <i class="bi bi-arrow-left-circle-fill"></i></a>
      </div>
    </div>
    <script src="main.js"></script>
</body>

</html>